.container{
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include mobile(){
        padding: px2vw(0, 414) px2vw(20, 414);
    }
    
    .text{
        font-size: px2vw(45);
        color: crimson;
        @include mobile(){
            font-size: px2vw(40, 414);
        }
    }
}
.cal{
    background-color: darkgray;
    width: px2vw(400);
    height: px2vw(600);
    padding: px2vw(20);
    border-radius: px2vw(20);
    @include mobile() {
        width: 100%;
        height: px2vw(600, 414);
        padding: px2vw(10, 414);
    }

    form {
        input{
            border: 0;
            outline: 0;
            width: px2vw(65);
            height: px2vw(65);
            border-radius: px2vw(10);
            background: transparent;
            color: white;
            cursor: pointer;
            margin: px2vw(10);
            font-size: px2vw(25);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            @include mobile() {
                width: px2vw(65, 414);
                height: px2vw(65, 414);
                margin: px2vw(10, 414);
                font-size: px2vw(18, 414);
            }
        }
        .display{
            display: flex;
            justify-content: flex-end;
            margin: px2vw(20) px2vw(0);

            input{
                flex: 1;
                text-align: right;
                font-size: px2vw(45);
                box-shadow: none;
                @include mobile() {
                    font-size: px2vw(30, 414);
                }
            }
        }
        .equal{
            width: px2vw(156);
            @include mobile() {
                width: px2vw(156, 414);
            }
        }
    }
}